/* variables */

:root {
    --primary-color: #858cab;
    --secondary-color: #4474cd;
    --accent-color: #ffffff;
    --accent-color-clear: #65656590;
}

/* global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 820px;
    margin: 0 auto;
}

main {
    background-color: var(--primary-color);
    min-height: 200px;
    border-radius: 5px;
}

label {
    color: var(--accent-color);
    font-size: 1.1rem;
}

/* utilities */

.container {
    padding: 10px;
}

.primary-text {
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 1px 2px var(--accent-color-clear);
}

.secondary-text {
    color: var(--accent-color);
    text-shadow: 1px 1px var(--accent-color-clear);
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
}

.span-text {
    font-size: 1rem;
    font-weight: lighter;
    text-shadow: none;
    color: var(--accent-color);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box {
    padding: 5px;
    padding-left: 10px;
}


/* page */

header {
    background-color: var(--secondary-color);
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
}

.rating input {
    margin-right: 15px;
    margin-left: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding: 5px 10px;
}

.flex-row input {
    margin-right: 5px;
}

.written-review textarea {
    height: 100px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 10px;
    border: var(--accent-color-clear) 1px solid;
    background-color: #4d82ff;
    color: var(--accent-color);
}

#submit:hover {
    background-color: #61a2de;
    text-decoration: underline;
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
}



/* review page */

.review-thanks {
    text-align: center;
    margin: 0 auto;
    line-height: 2rem;
}
