 
/* variables */

@media (min-width: 822px) {




    :root {
        --primary-color: #3c0a64;
        --accent-color: #6616a7;
        --text-color-1: black;
        --text-color-2: white;
    }



    /* global */

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: var(--text-color-2);
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
        background-color: var(--accent-color);
    }

    html, body {
        line-height: 1.7rem;
        position: relative;
        overflow-x: hidden;
    }

    /* ulitiies */




    /* navbar */

    #mobile-navbar {
        display: none;
    }


    #desktop-navbar {
        background-color: var(--primary-color);
        height: 5rem;
        width: 100vw;
    }

    #desktop-navbar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    #desktop-navbar li {
        height: 100%;
        list-style: none;
    }

    #desktop-navbar a {
        font-size: x-large;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }

    /* header title */

    header h1 {
        text-align: center;
        padding: 40px;
        line-height: 2.3rem;
    }


    /* body */

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main {
        max-width: 1200px;
    }

    main h1 {
        text-align: center;
        padding: 40px;
        line-height: 2.3rem;
    }

    main h2 {
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        width: 50%;
    }


    /* photo album */

    #temples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 720px) {
        #temples {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 550px) {
        #temples {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    #temples img {
        width: 90%;
        min-width: 200px;
    }


    #temples figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }



    /* footer */

    #footer {
        background-color: var(--primary-color);
        width: 100vw;
        text-align: center;
        height: 60px;
    }

    #footer p {
        color: var(--text-color-2);
    }

}